<div class="section join-now">
  <h3>Shop with friends on Copious. Join Now.</h3>
  
</div>
<div class="grid9" id="main-content">
  


<div class="notifications section">
  <h2>Notifications</h2>
    <div data-date="1316563200" class="date">
      <h5>September 21</h5>
        <div data-notification="4e79a08f49b4fb240d000009" class="notification">
          <span class="details">    <a href="/profiles/michael-oh">Michael Oh</a> likes your <a href="/listings/really-long-title-bbbbdsafasfasdflkadjsfkjad-so-jajiefjioaj-fiojaiojfioaejiofjaioejfiojadiofjiodasjf">really long title bbbbdsafasfasdflkadjsfkjad so jajiefjioaj fiojaiojfioaejiofjaioejfiojadiofjiodasjf</a>
            <span class="meta">01:30
  </span></span>
          <div class="actions">
            <a title="Clear" rel="nofollow" data-type="json" data-remote="true" data-notification="4e79a08f49b4fb240d000009" data-method="DELETE" class="clear-notification" href="/dashboard/notifications/4e79a08f49b4fb240d000009"><img src="/images/icons/close-content-hover.png?1316125597"></a>
          </div>
          </div></div>    
    
    <div data-date="1316476800" class="date">
      <h5>September 20</h5>
        <div data-notification="4e78e21e49b4fb2414000002" class="notification">
          <span class="details">    <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> likes your <a href="/listings/large-beaded-insetto-brooch">Large Beaded Insetto Brooch</a><span class="meta">11:57
</span>
</span>
          <div class="actions">
            <a title="Clear" rel="nofollow" data-type="json" data-remote="true" data-notification="4e78e21e49b4fb2414000002" data-method="DELETE" class="clear-notification" href="/dashboard/notifications/4e78e21e49b4fb2414000002"><img src="/images/icons/close-content-hover.png?1316125597"></a>
          </div>
          </div></div>    <div data-date="1316217600" class="date">
      <h5>September 17</h5>
        <div data-notification="4e756ce949b4fb7818000001" class="notification">
          <span class="details"><a href="/profiles/veruca-corningstone">Veruca Corningstone</a> is following you
</span>
          <ul class="actions">
            <li><a title="Clear" rel="nofollow" data-type="json" data-remote="true" data-notification="4e756ce949b4fb7818000001" data-method="DELETE" class="clear-notification" href="/dashboard/notifications/4e756ce949b4fb7818000001"><img src="/images/icons/close-content-hover.png?1316125597"></a></li>
          </ul>
          </div></div>    <div data-date="1316044800" class="date">
      <h5>September 15</h5>
        <div data-notification="4e72506e49b4fb7735000054" class="notification">
          <span class="details">    <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> likes your <a href="/listings/greenstone-zip-around-wallet">Greenstone Zip Around Wallet</a><span class="meta">21:00
</span>
</span>
          <ul class="actions">
            <li><a title="Clear" rel="nofollow" data-type="json" data-remote="true" data-notification="4e72506e49b4fb7735000054" data-method="DELETE" class="clear-notification" href="/dashboard/notifications/4e72506e49b4fb7735000054"><img src="/images/icons/close-content-hover.png?1316125597"></a></li>
          </ul>
          </div></div>    <div data-date="1315872000" class="date">
      <h5>September 13</h5>
        <div data-notification="4e6ff6b949b4fb7718000043" class="notification">
          <span class="details">    <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> likes <a href="/listings/metallic-jewel-trim-sheath-dress">Metallic Jewel Trim Sheath Dress</a><span class="meta">12:22
</span>
</span>
          <div class="actions">
            <a title="Clear" rel="nofollow" data-type="json" data-remote="true" data-notification="4e6ff6b949b4fb7718000043" data-method="DELETE" class="clear-notification" href="/dashboard/notifications/4e6ff6b949b4fb7718000043"><img src="/images/icons/close-content-hover.png?1316125597"></a>
          </div>
          </div>        <div data-notification="4e6fdc6849b4fb7726000049" class="notification">
          <span class="details">    <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> likes your <a href="/listings/large-beaded-insetto-brooch-2">Large Beaded Insetto Brooch</a><span class="meta">15:42
</span>
</span>
          <ul class="actions">
            <li><a title="Clear" rel="nofollow" data-type="json" data-remote="true" data-notification="4e6fdc6849b4fb7726000049" data-method="DELETE" class="clear-notification" href="/dashboard/notifications/4e6fdc6849b4fb7726000049"><img src="/images/icons/close-content-hover.png?1316125597"></a></li>
          </ul>
          </div>        </div>
</div>

</div>







<div class="section">
  <h2>Activity</h2>
  <div class="news-feed">
      <div class="activity" data-activity="4e80c5f349b4fb2a3e000007">
        <a href="/profiles/brian-fantana"><img alt="" class="avatar" height="50" src="/images/icons/profile_photo/px_50x50___default__.png" title="Brian Fantana" width="50" style="
    width: 30px;
    height: 30px;
"></a>
        <span class="meta" style="
    margin-top: 9px;
">about 5 hours ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/brian-fantana">Brian Fantana</a> listed <a href="/listings/title-1">title</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7eaeb849b4fb2a31000001">
        <a href="/profiles/brian-fantana"><img alt="" class="avatar" height="50" src="/images/icons/profile_photo/px_50x50___default__.png" title="Brian Fantana" width="50"></a>
        <span class="meta">2 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/brian-fantana">Brian Fantana</a> is now following <a href="/profiles/johnny-utah">johnny utah</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7d732c49b4fb217900000b">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">3 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/alex-schultz">Alex Schultz</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7d732449b4fb2160000008">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">3 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/garyb">Gary Briggs</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7ce34149b4fb215d000007">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">3 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/bill-hudak">Bill Hudak</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7ce30c49b4fb215600000a">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">3 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/dick-chaisen">Dick Chaisen</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7cc41549b4fb215a000003">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50" style="
    width: 30px;
    height: 30px;
"></a>
        <span class="meta" style="
    margin-top: 7px;
">3 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> listed <span class="cancelled-listing">,sfdbjv</span>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7c417d49b4fb2179000004">
        <a href="/profiles/cutter-brown-1"><img alt="" class="avatar" height="50" src="/images/icons/profile_photo/px_50x50___default__.png" title="Cutter Brown" width="50"></a>
        <span class="meta">4 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/cutter-brown-1">Cutter Brown</a> is now following <a href="/profiles/cutter">Cutter Brown</a>
</span>
        </div>
</div>      
        
        <%#       XXXXXX      LISTED ITEM       XXXXXX         %>
        <div class="activity" data-activity="4e7c405349b4fb2166000004">
          <a href="/profiles/jackie-moon"><img alt="" class="avatar" height="30" width="30" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/7/px_50x50_195595_100002276923121_6364737_n.jpg" title="Jackie Moon" width="50"></a>
          <span class="meta">4 days ago</span>
          <div class="content">
            <%#     XXXXXXX     wrap with this div layer so when text gets long, it wraps with margin on the left     XXXXXXXXX %>
            <div class="content-text">
              <span class="details">  <a href="/profiles/jackie-moon">Jackie Moon Brian Fontana Wayne</a> just listed <a href="/listings/test-16">test listing so fab omg so stylish</a> up for sale</span>
            </div>
            <div class="object"><img src="/uploads/development/listing_photo/file/400/small_ft2ihdgs6kcahszqdr82rq.jpg?1317060920"></div>
          </div>
        </div>
        <%#  mock up ends  %>
        
        <%#       XXXXXX      LIKES       XXXXXX         %>
        <div class="activity" data-activity="4e7c175f49b4fb215d000002">
          <a href="/profiles/johnny-utah"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/150/px_50x50_default_profile_4_normal.png" title="johnny utah" width="50"></a>
          <span class="meta">4 days ago</span>
          <div class="content">
            <%#     XXXXXXX     wrap with this div layer so when text gets long, it wraps with margin on the left     XXXXXXXXX %>
            <div class="content-text">
              <span class="details">  <a href="/profiles/brian-fantana">Johnny Utah</a> <img src="/images/icons/like_color_small.png" class="likes">likes <a href="/listings/leaping-corgi">Leaping Corgi</a></span>
            </div>
            <div class="object"><img src="/uploads/development/listing_photo/file/74/small_img_1420.jpg?1317061907"></div>
          </div>
        </div>
        <%#  mock up ends  %>
        
        <%#       XXXXXX      FOLLOWING       XXXXXX         %>
        <div class="activity" data-activity="4e7c175f49b4fb215d000002">
          <%#     XXXXXXX     image size should be 50 x 50 for follow activity feed     XXXXXXXXX %>
          <a href="/profiles/johnny-utah"><img alt="" class="avatar follow" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/9/px_50x50_clark_kent.jpg" width="50"></a>
          <span class="meta">4 days ago</span>
          <div class="content">
            <%#     XXXXXXX     wrap with this div layer so when text gets long, it wraps with margin on the left     XXXXXXXXX %>
            <div class="content-text follow">
              <span class="details">  <a href="/profiles/brian-fantana">Brian Moseley</a> is following you.</span>
              <div class="person"><a class="button follow">Follow</a> <a class="button soft">Block</a></div>
            </div>
          </div>
        </div>
        <%#  mock up ends  %>
        
        <%#       XXXXXX      LIKES       XXXXXX         %>
        <div class="activity" data-activity="4e7c175f49b4fb215d000002">
          <a href="/profiles/johnny-utah"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/150/px_50x50_default_profile_4_normal.png" title="johnny utah" width="50"></a>
          <span class="meta">4 days ago</span>
          <div class="content">
            <%#     XXXXXXX     wrap with this div layer so when text gets long, it wraps with margin on the left     XXXXXXXXX %>
            <div class="content-text">
              <span class="details">  <a href="/profiles/brian-fantana">Johnny Utah</a> likes <a href="/listings/leaping-corgi">Leaping Corgi</a></span>
            </div>
            <div class="object"><img src="/uploads/development/listing_photo/file/74/small_img_1420.jpg?1317061907"></div>
          </div>
        </div>
        <%#  mock up ends  %>
        
   <div class="activity" data-activity="4e7bf9e849b4fb240700001b">
        <a href="/profiles/michael-oh"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/110/px_50x50_203362_12501409_3074476_n.jpg" title="Michael Oh" width="50"></a>
        <span class="meta">4 days ago</span>
        <div class="content">
          <span class="details">  You invited <a href="http://www.facebook.com/profile.php?id=644101012" target="_blank">Jennifer Jungeun Lee</a> to join Copious
</span>
        </div>
</div>      <div class="activity" data-activity="4e7bd64c49b4fb2410000019">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">4 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/dave-1">Dave</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7ba6b149b4fb23fc00001a">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">4 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/johnny-utah">johnny utah</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7ad7e749b4fb242300000e">
        <a href="/profiles/brian-fantana"><img alt="" class="avatar" height="50" src="/images/icons/profile_photo/px_50x50___default__.png" title="Brian Fantana" width="50"></a>
        <span class="meta">5 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/brian-fantana">Brian Fantana</a> listed <a href="/listings/test-listing-3">test listing</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7ab64f49b4fb242600000e">
        <a href="/profiles/johnny-utah"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/150/px_50x50_default_profile_4_normal.png" title="johnny utah" width="50"></a>
        <span class="meta">5 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/johnny-utah">johnny utah</a> is now following <a href="/profiles/cutter">Cutter Brown</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7ab64849b4fb240400000f">
        <a href="/profiles/johnny-utah"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/150/px_50x50_default_profile_4_normal.png" title="johnny utah" width="50"></a>
        <span class="meta">5 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/johnny-utah">johnny utah</a> is now following <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e79fad649b4fb2426000007">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">5 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/daengland">Dawn England</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e79a08e49b4fb2423000008">
        <a href="/profiles/michael-oh"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/110/px_50x50_203362_12501409_3074476_n.jpg" title="Michael Oh" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  You like <a href="/listings/really-long-title-bbbbdsafasfasdflkadjsfkjad-so-jajiefjioaj-fiojaiojfioaejiofjaioejfiojadiofjiodasjf">really long title bbbbdsafasfasdflkadjsfkjad so jajiefjioaj fiojaiojfioaejiofjaioejfiojadiofjiodasjf</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e79745d49b4fb241000000e">
        <a href="/profiles/michael-oh"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/110/px_50x50_203362_12501409_3074476_n.jpg" title="Michael Oh" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  You are now following <a href="/profiles/david-lamacchia">David LaMacchia</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7965de49b4fb241400000c">
        <a href="/profiles/cutter"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/24/px_50x50_cutter_gambrelle_tom.jpeg" title="Cutter Brown" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/cutter">Cutter Brown</a> is now following <a href="/profiles/david-lamacchia">David LaMacchia</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e7965d649b4fb242000000c">
        <a href="/profiles/cutter"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/24/px_50x50_cutter_gambrelle_tom.jpeg" title="Cutter Brown" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/cutter">Cutter Brown</a> is now following <a href="/profiles/brian-moseley">Brian Moseley</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e78f23149b4fb2404000009">
        <a href="/profiles/brian-moseley"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/9/px_50x50_clark_kent.jpg" title="Brian Moseley" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/brian-moseley">Brian Moseley</a> is now following <a href="/profiles/brooke-miller">Brooke Miller</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e78f22f49b4fb2414000008">
        <a href="/profiles/brian-moseley"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/9/px_50x50_clark_kent.jpg" title="Brian Moseley" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/brian-moseley">Brian Moseley</a> is now following <a href="/profiles/cutter">Cutter Brown</a>
</span>
        </div>
</div>      <div class="activity" data-activity="4e78f21349b4fb240a000003">
        <a href="/profiles/brian-moseley"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/9/px_50x50_clark_kent.jpg" title="Brian Moseley" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/brian-moseley">Brian Moseley</a> is now following you
</span>
        </div>
</div>      <div class="activity" data-activity="4e78e38b49b4fb23f9000004">
        <a href="/profiles/kristin-b-nienhuis"><img alt="" class="avatar" height="50" src="//utahstreetlabs-staging.s3.amazonaws.com/user/profile_photo/53/px_50x50_uvsn.png" title="Kristin B Nienhuis" width="50"></a>
        <span class="meta">6 days ago</span>
        <div class="content">
          <span class="details">  <a href="/profiles/kristin-b-nienhuis">Kristin B Nienhuis</a> is now following <a href="/profiles/michael-wu">Michael Wu</a>
</span>
        </div>
</div>  </div>
</div>