<div id="root" class="hb-neighbor">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="pull-right">
          <button class="btn" data-role="add-widget" data-source="masthead-add-button" data-target="#add-modal"
                  data-toggle="modal" data-user="starbuck" id="masthead-add-button" name="button" type="button">
            + Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
