<%
title "Create a listing"
%>

<h3>Create a Listing - Step 1 of 2. Tell us about it.</h3>

<%= render 'form', :listing => @listing, :save_text => 'Next step: pictures', :cancel_url => dashboard_path %>
