<div class="messages">
  <div data-role="alert-alert">
    <div class="alert alert-block alert-error" data-role="flash-alert" style="display:none">
    </div>
  </div>
  <div data-role="alert-notice">
    <div class="alert alert-block alert-success" data-role="flash-notice" style="display:none">
    </div>
  </div>
  <div data-role="alert-info">
    Info:
    <div class="alert alert-block alert-info" data-role="flash-info" style="display:none">
    </div>
  </div>
  <div id="water-fowl">
  </div>
</div>
