<ul id="invite-friends-list">
  <li data-role="selectable" data-type="follow">
    <input name="checked-follow" type="checkbox" value="checked-follow" checked>
  </li>
  <li data-role="selectable" data-type="follow">
    <input name="unchecked-follow" type="checkbox" value="unchecked-follow">
  </li>
  <li data-role="selectable" data-type="invite">
    <input name="checked-invite" type="checkbox" value="checked-invite" checked>
  </li>
  <li data-role="selectable" data-type="invite">
    <input name="unchecked-invite" type="checkbox" value="unchecked-invite">
  </li>
</ul>
