<div data-loaded-modal="true" data-role="interest-modal">
  <div class="modal-footer">
    <span data-role="counter">5</span> more to go
    <button class="btn primary large" data-save="modal" name="button"
            type="button" disabled="true">Save
    </button>
    <button class="btn margin-left" data-dismiss="modal" name="button"
            type="button">Close
    </button>
  </div>
</div>