<div style="display: block;" data-role="lazy-modal" class="modal" data-url="/gimme/content">
  <div class="modal-body">
    <div class="spinner-loading" data-role="spinner" style="display:none">
      <div class="circleG circleG_1"></div>
      <div class="circleG circleG_2"></div>
      <div class="circleG circleG_3"></div>
    </div>
    <div class="alert" data-role="alert" style="display:none"></div>
    <div data-role="modal-content"></div>
  </div>
</div>
