// modal trigger link
.show-more {
  font-size: 14px;
  float: right;
  font-weight: 400;
}

.modal-wrapper {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto !important;
  z-index: $zin-modal-bg + 1;
}
.modal {
  display: none;
  background: $white;
  max-height: 570px;
  border: none;
  overflow-y: hidden;
  z-index: $zin-modal-content;
  @include box-shadow(0px 2px 4px 1px rgba(0,0,0,0.35));
  @include border-radius(3px);
}
.modal-large {
  max-height: 736px;
  height: 736px;
  margin-top: -368px;
  /* just for listing modal till here */
  height: 622px;
  min-height: 622px;
  max-height: 622px;
  width: 787px; /* 780 + 7px for scrollbar since the right column is scrollable */
  margin-left: -390px;
  background: transparent;
  @include disable-box-shadow;
}
.scrollable-modal {
  position: relative;
  top: 0;
  left: 0;
  margin: 90px auto;
}
.logging-in-modal {
  z-index: $zin-auto-login;
}

.modal-header {
  padding: 12px 20px;
  background-color: $white;
  border-bottom: 1px solid $border-color-light;
  text-align: left;
  @include box-shadow(0 1px 0px #FFFFFF);
  > h1 {
    padding: 0;
    display: inline-block;
    font-family: $styledHeaderFamily;
    font-size: 30px !important; /* need this to override .listings_external_new h1  in _listings_setup.scss */
    line-height: 36px !important;
    font-weight: 500 !important;
    margin: 0 !important;
    color: $header-color-dark;
    max-width: 95%;
    text-transform: uppercase;
  }
  .close-button {
    display: inline-block;
    width: $bigFontSize; /* 16px */
    height: $bigFontSize;
    background-repeat: no-repeat;
    background-image: image-url("icons/icons-sprite/icons-sprite.png");
    background-position: -152px -279px;
    margin-top: 9px;
    @include opacity(0.45);
    &:hover {
      @include transition(0.6s);
      opacity: 1;
      cursor: pointer;
    };
  }
  p { /* once we move the copy up to the modal-header*/
    color: $text-light;
    line-height: 24px;
    margin-bottom: -4px;
  }
}

.modal-body {
  float: left;
  overflow-y: auto;
  max-height: 450px;
  width: 100%;
  /* make an offer modal */
  [data-role="modal-content"]{
    font-family: $sansserifFontFamily;
    font-size: 14px;
    text-align: left;
    /* for the modal body copy. XXX: too much nesting. */
    p {
      color: $text-light;
    }
    > p, form > p {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }
  .endless_scroll_inner_wrap {
    float: left;
  }
  #ajax-overlay {
    .close-button.button {
      display: none;
    }
  }
  #instagram-photos {
    float: left;
    margin-bottom: 40px;
    width: 865px;
    .instagram-import {
      float: left;
      clear: none;
      margin-right: 20px;
      margin-bottom: 20px;
      .instagram-import-image {
        img {
          width: 270px;
          height: 270px;
        }
      }
      .instagram-import-wrap {
        float: none;
        margin-top: 6px;
        .button.import {
          display: block;
          text-align: center;
          opacity: 0.6; }
        .button.disabled {
          color: #38312f !important;
          font-weight: 500;
          opacity: 1 !important;
          display: block;
          text-align: center;
        }
        .done {
          padding-left: 20px;
          background-repeat: no-repeat;
          background-image: image-url("layout/icons-sprites.png") !important;
          background-position: 78px -568px;
          @include transition(0);
        }
      }
    }
    .instagram-import:nth-child(3n) {
      margin-right: 0px;
    }
    .instagram-import:hover {
      .button.import {
        opacity: 1;
      }
    }
  }
}

.modal-footer {
  background-color: #E2E2E2;
  float: left;
  width: 100%;
  padding: 10px 20px;
  @include border-radius(0 0 3px 3px);
  @include disable-box-shadow;
  button, .btn, .button {
    width: auto !important; /* to prevent from any parenting style to mess with its width */
  }
}

.modal .product-tease {
  float: right;
  margin: 0;
  margin-left: 20px;
  opacity: 1; }

.modal .product-tease:hover,
.modal .product-tease.hover,
.modal .product-tease:focus,
.modal .product-tease.focus {
  opacity: 1;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none; }



// individual modal styling

#wtf_more-modal {
  width: 800px;
  margin-left: -400px;
  margin-top: -290px;
}
#instagram-modal {
  width: 900px;
  height: 692px;
  max-height: none;
  margin-left: -450px;
  margin-top: -350px;
  .modal-body {
    height: 572px;
    max-height: none;
  }
}
#buyer_rating_comments, #seller_rating_comments {
  min-height: 60px;
}

.modal-backdrop {
  background-color: #111111;
  @include opacity(0.93);
  z-index: $zin-modal-bg;
}

#signup-modal, #profile_form-modal {
  /* XXX DELETE when we we standardize modal sizes. this is :small */
  width: 480px;
  margin-left: -240px;
  .modal-body {
    padding: 30px;
  }
  // for signup modal
  .container {
    min-width: 0;
    width: 100%;
  }
  .row {
    /* cancel out the margin-left for signup modal, cuz it borks the layout */
    margin-left: 0;
    > .section {
      width: 100%;
      margin: 0 auto 25px;
      text-align: center;
      float: none;
    }
  }
  .remember-me {
    margin-left: 0;
  }
  .sns-connect, .bottom-piece {
    text-align: center;
  }
  .sns-connect .facebook.signup {
    margin-bottom: 10px;
  }
  .already-registered {
    margin: 0 0 -10px;
    padding: 0;
    float: none;
    font-size: $smallFontSize;
  }
  .copious-logo {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
  }
  // for create profile
  .create-account-wrapper {
    width: 604px; /* span10 */
  }
  .create-account-container {
    margin-bottom: 30px;
  }
  .avatar_image_container {
    float: left;
    margin-right: 35px;
  }
  /* styling for bookmarklet login is in _listing_setup.scss */
}

// MAKE AN OFFER STYLING
#offer_price {
  font-family: $sansserifFontFamily;
  padding-top: 7px; /* need this to align w .control-label */
  display: block;
}
#offer_price_input {
  margin-bottom: 11px;
}
#offer_duration, #offer_message {
  width: 296px; /* grid5 */
}
#offer_amount {
  width: 267px; /* 296 - add-on width = 267px*/
  margin-bottom: 0;
}
#offer_message {
  height: 52px;
}

// INVITE FRIEND MODAL
#invite-friends-modal {
  width: 800px;
  height: 488px;
  margin-left: -400px;
  margin-top: -246px;
  .modal-body { /* this should be defined in higher level */
    height: 368px;
    max-height: 368px;
    padding-bottom: 0;
    overflow-x: hidden;
  }
  .modal-footer { /* this repeats for rec modal. consolidate or define in higher level */
    padding: 10px 15px 13px;
    .primary {
      font-size: 18px;
      width: 250px;
      height: 38px;
    }
  }
}

#invite-friends-container, #recommend-container, #signup_follow_container { /* update to class and have individual stylnig on ID level */
  float: left;
  width: 800px;
  height: 308px;
  overflow-y: scroll;
  padding: 18px;
  margin: 0px -20px 0;
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.3));
  .nav-tabs.copious-tabs {
    float: right;
    padding-top: 0;
    margin-top: 3px;
    li {
      padding-bottom: 5px;
    }
  }
  form {
    float: left;
    width: 100%;
  }
}

#recommend-container {
  .nav-tabs { /* for now this is for rec modal only but should be the same for invite */
    width: 484px;
    margin-top: 0;
    margin-bottom: 17px;
    li {
      padding-bottom: 5px;
    }
  }
}
.search-container { /* containing #search-a-friend */
  float: right;
}
#search-a-friend { /* same styling as #search_box input */
  .nav-tabs {
    width: 484px;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: 17px;
  }
}
.modal {
  #fb-friend-search { /* containing #search-form */
    margin: -1px -6px 0 0;
    #field-name {
      float: none;
    }
    .buttons {
      float: none;
      margin-left: 0;
    }
  }
  #fb-friend-search-button {
    padding: 4px 12px;
    font-size: 14px;
    line-height: 14px;
    margin-left: 8px;
  }
  .friend-box {
    float: none;
    display: inline-block;
    margin-right: 14px;
  }
}
#search-form {
  margin-bottom: 0;
}
#search-string { /* same styling as #search_box input */
  padding: 6px;
  width: 152px;
  height: 23px;
  font-family: $sansserifFontFamily;
  font-size: 12px;
  line-height: 15px;
  margin: 1px 0 0;
}

#signup_follow_container {
  width: 100%;
  margin: 0 0 16px;
  #follow-friends-modal & {
    width: 560px;
    margin: 20px -20px -20px;
    height: 262px;
    box-sizing: border-box;
    padding-right: 0;
  }
}

.invitee-name-container {
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  /* XXX_MO - same styling as feed-container for product card up to this line (for vertical centering). consolidate. */
  width: 118px;
  padding-right: 17px;
  #signup_follow_container & { /* new onboarding follow page */
    width: 118px;
  }
}
.invitee-name {
  font-family: $sansserifFontFamily;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #47505D;
  min-height: 15px;
  max-height: 30px;
  width: 93px;
  overflow: hidden;
}

.select-all-container {
  float: left;
  width: 200px;
  height: 38px;
  text-align: left;
  padding: 9px 0px;
  label {
    font-family: $sansserifFontFamily;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #47505D;
    height: 20px;
    display: inline-block;
  }
  input[type="checkbox"] {
    float: none;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
  }
}

// RECOMMEND LISTING MODAL
#recommend-listing-modal, [id^="recommend-modal-"] {
  height: 526px;
  width: 800px;
  margin-left: -400px;
  margin-top: -300px;
  .modal-body { /* this should be defined in higher level */
    /* very similar to #invite-friends-modal .modal-body */
    height: 405px;
    max-height: 405px;
    padding-bottom: 0;
    overflow: hidden;
    padding: 16px 20px;
  }
  .modal-footer {
    .primary {
      font-size: 18px;
      width: 250px;
      height: 38px;
    }
  }
}
#recommend-container {
  width: 800px;
  height: 360px;
  margin: 0 -20px;
  height: 350px;
  position: relative;
}
#recommend-listing-list {
  width: 513px;
}
#recommend-listing-container {
  float: left;
  width: 232px;
  margin-right: 16px;
  position: fixed;
  .product-info {
    padding: 10px;
  }
}

.icon-recommend {
  @extend .button-icon;
  background-repeat: no-repeat;
  background-image: image-url("icons/icon-recommend.png");
  background-position: 0 -1px;
  width: 18px;
  height: 20px;
  margin: 0 12px 0 0;
}


/* used both for invite and rec modals */
/* some branches have this as ID, but this MUST be a class. also update invites_helper to pass that class. */
.invite-friends-list {
  float: left;
  margin-bottom: -16px;
  width: 100%;
  li {
    float: left;
    clear: none;
    width: 176px;
    height: 48px;
    padding: 8px;
    margin: 0 16px 13px 0;
    /* margin: 0 16px 16px 0      once the copy moves up to the header */
    border-width: 1px;
    border-style: solid;
    border-color: #E7E7E7 #C6C6C6 #A6A6A6;
    @include border-radius(3px);
    @include gradient-vertical(#F9F9F9, #EBECED);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    .avatar-container {
      float: left;
      margin-right: 10px;
    }
    .avatar-small {
      @include border-radius(2px);
    }
    input[type="checkbox"] {
      display: none; /* hide the checkboxes for invite-suggestion */
    }
    &:hover {
      border-color: lighten(#2c8de8, 27%) lighten(#2c8de8, 17%) darken(#2c8de8, 7%);
      box-shadow: 0px 1px 2px 0px lighten(#2c8de8, 7%), inset 0 2px 2px rgba(255, 255, 255, 0.5);
    }
    &.selected {
      @include gradient-vertical(#CFE5F8, #AFD3F5);
      @include box-shadow(0 0 0 0 rgba(0,0,0,0.9));
      border-color: #AED2F5 #9AC7F1 #7EB8F0;
      .invitee-name-container {
        background: image-url("icons/invite-modal/green-check-small-b.png") 0 100% no-repeat;
        background-position: right 5px;
      }
      &:hover {
        border-color: #2c8de8 darken(#2c8de8, 2%) darken(#2c8de8, 7%);
        cursor: pointer;
      }
    }
  }
  #invite-friends-modal & {
    li:nth-child(4n) {
      margin-right: 0;
    }
  }
  #recommend-listing-modal &, [id^="recommend-modal-"] #recommend-container & {
    width: 500px;
    margin-right: 0;
    float: right;
    margin-bottom: 0;
    li {
      width: 152px;
      overflow: hidden;
      margin: 0 14px 10px 0;
    }
    li:nth-child(3n) {
      margin-right: 0;
    }
  }
  #signup_follow_container & { /* onboarding follow page */
    li {
      width: 165px;
      &.selected {
        .invitee-name-container {
          background-position: right center;
        }
      }
    }
    li:nth-child(5n) {
      margin-right: 0;
    }
  }
  #follow-friends-modal & {
    li {
      width: 168px;
      margin-right: 10px;
    }
    li:nth-child(3n) {
      margin-right: 0;
    }
    li:nth-child(5n) {
      margin-right: 10px;
    }
  }
}

// Save to Collections
.save-to-collection, .feature-listing-modal {
  /* XXX DELETE when we we standardize modal sizes. this is :small */
  width: 560px;
  margin-left: -280px;
  .modal-body {
    /* disabled scrollbars for save modals */
    overflow: hidden;
  }
  .product-image-container {
    float: left;
    margin-right: 20px;
    width: 220px;
    height: 220px;
  }
  .product-image {
    float: left;
    width: 220px;
    height: 220px;
    margin-right: 0;
  }
  .listing-feature {
    max-width: 280px;
    height: 220px; /* same size as the listing-photo next to it */
    float: left;
    margin-bottom: 0;
  }
  .well-header.well-header-small {
    height: 164px;
    margin: -7px -10px 0;
    padding: 10px;
    border-bottom-color: $border-color;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
  }
}
.save-to-collection.save-to-collection-v2 {
  width: 660px;
  margin-left: -330px;
  .product-image-container, .product-image {
    width: 300px;
    height: 300px;
  }
  .listing-save-to-collection {
    max-width: 300px;
    height: 300px; /* same size as the listing-photo next to it */
    float: left;
  }
  .well.well-border {
    padding-top: 7px;
  }
  .well-header.well-header-small {
    height: 118px;
  }
  .price-alert-container {
    position: absolute;
    bottom: 72px;
  }
  .well-footer {
    height: 54px;
    padding: 10px;
    margin: 0 -10px -10px;
  }
  .add-new-collection-input {
    width: 211px;
    margin-bottom: 0;
  }
}

.slider-labels { /* price alert slider labels */
  margin-top: 5px;
  margin-left: -45px;
  span {
    font-size: $smallFontSize;
    margin-left: 46px;
  }
  .off-25 {
    margin-left: 49px;
  }
  .off-50 {
    margin-left: 44px;
  }
  .off-75 {
    margin-left: 42px;
  }
  .off-none {
    margin-left: 35px;
  }
}
.feature-listing-modal {
  .well-header.well-header-small {
    border-bottom: none;
    width: 280px;
    height: 218px;
    margin-bottom: -10px;
  }
}
.listing-save-to-collection {
  width: 100%;
  max-width: 230px;
  margin: 0;
  float: right;
}
.listing-save-to-collection-comment {
  width: 100%;
  height: 86px;
  margin: 0;
}

// Want modal
.want_max_price {
  width: 269px; /* 300px - 31px (input-prepend) = 269px */
}
.want_condition, .want_notes {
  width: 300px; /* XXX DELETE CONSOLIDATE  this is the new default form size */
}
.want_notes {
  height: 68px;
}


// Add modal
#add-modal p.small {
  display: inline-block;
  float: left;
  width: 350px;
  margin-bottom: 0;
}


// Create Collection modal
#collection-create-modal {
  /* XXX DELETE when we we standardize modal sizes. this is :small */
  width: 488px;
  margin-left: -240px;
  margin-top: -250px;
}


// Add collection success (add listings modal)
#collection-create-listings-modal {
  .modal-body {
    max-height: 370px;
  }
  /* XXX CONSOLIDATE  selected IX and stuff */
  .thumbnail {
    position: relative;
    @include box-shadow(0 0 0 1px #EEEEEE);
    .selected-overlay {
      display: none;
      @include opacity(0);
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.75);
      @include border-radius(3px 0 0 0);
    }
    .icons-checkmark {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: -8px 0 0 -8px;
      width: 20px;
      height: 20px;
      background-image: image-url("icons/icons-sprite/icons-sprite.png");
      background-repeat: no-repeat;
      background-position: 1px -356px;
    }
    &:hover, &.selected {
      @include box-shadow(0 0 0 2px $system-color);
      cursor: pointer;
    }
    &.selected {
      .selected-overlay {
        display: block;
        @include opacity(1);
      }
    }
  }

}

// Edit/Delete Collection modal
.collection-delete-modal, .collection-edit-modal {
  /* XXX DELETE when we we standardize modal sizes. this is :small */
  width: 488px;
  margin-left: -240px;
  margin-top: -250px;
}

// Checkbox CTA
.modal-checkbox-cta {
  position: absolute;
  left: 20px;
  bottom: 22px;
  max-width: 290px;
  margin-bottom: -5px; /* to null margin-bottom: 5px on label.checkbox */

}

// Success Modal
/* save to collection success */
[id^="listing-save-to-collection-success"], .success-modal, #collection-create-listings-modal {
  /* XXX DELETE when we we standardize modal sizes. this is :regular */
  width: 560px;
  margin-left: -280px;
  .success-icon { /* XXX UPDATE once icons sprites is ready. this should be .icon-success as specified in buttons.scss*/
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    background: image-url("icons/tutorial/green-check.png") 0 100% no-repeat;
    margin: 5px 8px 0 0;
    vertical-align: text-bottom;
  }
  .thumbnails img {
    width: 108px;
    height: 108px;
  }
}


// LISTING MODAL
/* this is only for the listing modal. might have to update the structure to have it applicable for all modals */
.modal-large .modal-body {
  height: 100%;
  max-height: inherit;
  overflow: hidden;
  padding: 0;
}

/* listing modal has custom header/footer */
.listing-modal-header {
  height: 40px;
  padding: 0 10px;
  margin: 0 -10px;
  border-bottom: 1px solid $border-color-light;
}
.listing-modal-footer {
  float: left;
  clear: both;
  width: 780px;
  height: 140px;
  padding: 0;
  margin: 14px 0 0;
  background: transparent;
  .sub-header {
    color: $border-color;
    float: left;
    width: 650px;
    height: 20px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

/* LISTING MODAL HEADER STYLING */
.listing-creator-info {
  float: left;
  @extend .weak;
  @extend .media-small-info;
  height: 33px;
  width: 202px;
  overflow: hidden;
}
.listing-creator-name {
  display: block;
  font-weight: 600;
  color: $text;
}
.listing-collection-link {
  display: inline;
  word-wrap: break-word;
  word-break: break-word;
  word-break: break-all;
  max-width: 60px;
}
.listing-creator-follow {
  float: right;
  .social {
    /* targetting the follow button. prevent it from not having this class when user interacts with that button */
    @extend .btn-small;
  }
}


.listing-modal-top {
  background: $white;
  height: 460px;
  @include border-radius(3px);
}
.listing-photos {
  position: relative;
  width: 460px;
  height: 460px;
  overflow: hidden;
  border-right: 1px solid $grayLightest;
  @include border-radius(3px 0 0 3px);
}
.product-info.listing-modal {
  float: left;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  .product-title {
    font-weight: 600;
    line-height: 24px;
    height: auto;
    min-height: 25px;
    max-height: 50px;
    padding-top: 0;
    margin-bottom: 5px;
  }
}
.price-box.listing-modal {
  margin-bottom: 12px;
  .price {
    font-size: $bigFontSize; /* 16px */
  }
}
.listing-modal .social-story-container {
  margin-top: 0;
}
.well-footer .commentbox_wrapper { /* for listing modal */
  float: left;
}



/* LISTING MODAL BODY STYLING */
.listing-modal-body-photo {
  @extend .span6;
  @extend .kill-margin-left;
}
.listing-modal-body-content {
  float: left;
  padding: 10px 7px 0 10px;
  width: 326px;
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.product-description-container {
  width: 300px;
  height: auto;
  max-height: 48px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  span, #description, #description span, #description-truncated span, #description-truncated {
    font-size: 12px;
    line-height: 16px;
  }
}

/* LISTING MODAL FOOTER STYLING */
.collection-creator-name {
  display: inline;
}
.collection-creator-follow {
  float: right;
  margin-top: -6px;
  .btn {
    @extend .btn-small;
  }
}


/* stats button */
.stats-button-container { /* targetted for listing modal only for now */
  width: 93px;
  height: 110px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  .btn.curatorial, .btn.transactional {
    /* targetting all ctas since the save button helper doesn't allow appending classes */
    @extend .stats-button;
    padding: 5px 0 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &.actioned {
      font-weight: 500;
    }
  }
  #buy-button {
    padding-top: 14px !important;
    font-size: 13px !important; /* override #buy-button */
  }
  &.save-button-container {
    .btn.curatorial {
      background-color: $curatorial-color;
      color: $white;
      font-weight: 600;
      border: 1px solid $curatorial-color;
      @include link-hover-active($curatorial-color);
      @extend .stats-button;
      &.actioned {
        color: $curatorial-color;
        font-weight: 500;
        background-color: $button-actioned-bg-color;
        border-color: $button-actioned-bg-color;
        @include link-hover-active($button-actioned-bg-color);
        /* new IX for primary buttons. freezing it for now
        color: $white;
        background-color: lighten($curatorial-color, 25%);
        border-color: lighten($curatorial-color, 25%);
        @include link-hover-active(lighten($curatorial-color, 25%));
        &:hover {
          color: $white !important;
        }*/
      }
    }
  }
}

.stats-button {
  width: 100%;
  height: 76px;
  &.btn {
    .icons-button-save, .icons-button-love, .icons-button-shop {
      display: block;
      margin: 0px auto 10px;
      width: 26px;
      height: 26px;
    }
    .icons-button-love {
      background-position: -2px -704px;
      .actioned & {
        background-position: -2px -735px;
      }
    }
    .icons-button-save {
      background-position: -44px -704px;
      .actioned & {
        background-position: -44px -735px;
      }
    }
    .icons-button-shop {
      background-position: -85px -704px;
    }
  }
  &.actioned.btn {
    .icons-button-save {
      background-position: -44px -735px;
    }
    .icons-button-love {
      background-position: -2px -735px;
    }
  }
}
.stats-balloon {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  background-color: $white;
  border: 1px solid $border-color-light;
  @include border-radius(3px);
  span {
    font-family: $styledFontFamily;
    font-weight: 500;
    color: $text;
  }
  &:before {
    content: '';
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $border-color-light;
    position: absolute;
    bottom: -10px;
    left: 40px;
  }
  &:after {
    content: '';
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $white;
    position: absolute;
    bottom: -9px;
    left: 40px;
  }
}
.listing-modal-ctas {
  li:last-child {
    margin-right: 0;
  }
}

/* listing modal navigation */
.listing-modal-navigation-container {
  position: fixed;
  top: 300px;
  left: 50%;
  width: 940px;
  margin-left: -470px;
}

/* interest modal */
#select-interests-modal {
  width: 670px;
  max-height: 590px;
  margin-left: -335px;
  .modal-body {
    height: 470px;
    max-height: 470px;
  }
}
#select-interests-modal .interest-card-container .interest-card {
  margin-bottom: 30px !important; /* overriding .margin-bottom-double */
  &:nth-child(4n+1) {
    margin-left: 0
  }
}

/* create profile modal */
#new-profile-modal {
  /* XXX DELETE when we we standardize modal sizes. this is :small */
  width: 480px;
  margin-left: -240px;
  .create-account-wrapper {
    width: 100%;
    h1 {
      font-family: $sansserifFontFamily;
      font-size: $baseFontSize;
      font-weight: 400;
      line-height: 20px;
      color: $text-light;
      margin-bottom: 20px;
    }
  }
  .create-account-container {
    margin-bottom: 0;
    > img {
      display: none;
    }
  }
  /* input fields */
  .required.span6 {
    width: 440px;
  }
  #user-edit {
    margin-bottom: 0;
  }
}
