<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Copious | Etsy Seller </title>

    <!-- Add meta tags here! -->

    <link rel="stylesheet" href="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/css/main4.css" type="text/css" />
    <!--[if lte IE 7]><link rel="stylesheet" href="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/css/ie.css" type="text/css" /><![endif]-->

    <link href="http://fonts.googleapis.com/css?family=Amaranth&subset=latin" rel="stylesheet" type="text/css">

    <link rel="icon" href="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/favicon.ico" type="image/x-icon" />
    <%= optimizely_tag %>
    <script type="text/javascript">
//<![CDATA[
GA_ACCOUNT = 'UA-23540971-1';
MP_TOKEN = "c1c03b5e26cec56272f26794d85651b9";
//]]>
</script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://copious.com/javascripts/bundles/global.min.js?2e6277f" type="text/javascript"></script>
<script src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/javascripts/mixpanel.js" type="text/javascript"></script>

</head>

<body>

    <div id="header">
        <div class="inner">

            <a href="#" id="logo"><img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/logo.png" alt="Copious beta" border="0"/></a>

            <p><a href="http://copious.com">Sign Up</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://copious.com/login">Sign In</a></p>

          </div>


    <div id="content">

        <div id="masthead">


          <p class="no-margin"><p style="float:left">As featured in:</p>
          <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/logos.png" alt="" style="margin-bottom:10px;"/>

          <hr class="small"/>

            <div class="leftColumn">

                <h1>Etsy seller?</h1><h1>Try Copious!</h1>
                <div></div>
                <hr class="large"/>
                <h2><h2 style="float:left"><strong>No Listing Fees.</strong><br/>Copious is a new social marketplace that uses Facebook, Twitter and
other social tools to help you sell more, faster. List items quickly and easily, with absolutely no listing fees!
</h2>

                <hr class="large"/>


            </div>

            <div class="rightColumn">

                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/Clothing%20Images/Clothing_image.jpg" alt="" />

            </div>

            <div id="buttons-layer">
                  	<a href="javascript:$('#listform').submit()" class="btn btn-signup create-listing">Get started now&nbsp;&nbsp;<small>Create a free listing</small></a>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-facepile" data-href="copious.com" data-width="200" data-max-rows="1" style="position: relative; left: 350px; top: -55px;"></div>
            </div>

        </div>


       <div id="trifold">
            <div>
                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/icon-piggy.png" alt="" class="floatLeft" />
                <p class="title">No listing fees.</p>
                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/divider-gray-third.png" alt="" class="divider" />
                <p>It's free to list on Copious. Selling is fast, easy, and takes only one step.</p>
            </div>

            <div>
                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/icon-facebook.png" alt="" class="floatLeft" />
                <p class="title">Reach 700 million buyers</p>
                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/divider-gray-third.png" alt="" class="divider" />
                <p>Leverage the power of Facebook and Twitter's wide-reaching networks to help you sell. Stay connected to your customers via Copious' free messaging and marketing tools.</p>
            </div>

            <div>
                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/icon-cash.png" alt="" class="floatLeft" />
                <p class="title">Free advertising credits</p>
                <img src="http://utahstreetlabs.com-landingpages.s3.amazonaws.com/images/divider-gray-third.png" alt="" class="divider" />
                <p>For a limited time, qualified sellers will receive $50 Facebook Ad Credit and $100 Google ad credit, on us.</p>
            </div>
        </div>

        <a class='tour' href="http://copious.com" id="tab">See the Copious Marketplace in action. <span>Sign up and take a tour.</span></a>


        <div id="footer">
            <hr/>
            <ul class="menu">
                <li><a href="http://help.copious.com">Help</a> |</li>
                <li><a href="http://corporate.copious.com/about-us">About Us</a> |</li>
                <li><a href="http://corporate.copious.com/jobs">Jobs</a> |</li>
                <li><a href="http://corporate.copious.com/blog">Blog</a> |</li>
                <li><a href="http://corporate.copious.com/twitter">Twitter</a> |</li>
                <li><a href="http://www.facebook.com/pages/Copious/201076446577603" target="_blank">Facebook</a></li>
            </ul>

            <ul class="disclaimer">
                <li>&copy; 2011 Utah Street Labs, Inc. All rights reserved.</li>
                <li><a href="http://help.copious.com/customer/portal/articles/82466-copious-terms-of-use">Terms of Use</a> |</li>
                <li><a href="http://help.copious.com/customer/portal/articles/82465-copious-privacy-policy">Privacy</a> |</li>
                <li><a href="http://help.copious.com/customer/portal/articles/82473-copious-transaction-policy">Transaction Policy</a></li>
            </ul>
        </div>

    </div>

    <form id='listform' action='http://copious.com/listings' method='POST'>
     </form>
     <div id="fb-root"></div>
     <script type="text/javascript" src="https://tags.mediaforge.com/js/480"></script>
</body>
</html>
