<%
title 'Import your contacts'
deactivate_masthead
mp_view_event 'contact import'
%>

<div id="main-content">
  <%= rpxnow_include_tag %>
  <div class="contact-importer-text-container">
    <span class="contact-importer-text">Choosing a service will open a secure sign-in window which will authorize Copious to see your contacts. <br />We will not share them with anybody, and will never email anyone without your consent. Promise.</span>
  </div>
</div>
