<div id="add-widget">
  <button id="add-button" data-user="starbuck" data-toggle="modal" data-target="#add-modal" data-role="add-widget"
          data-source="a-test">
    Add Listing
  </button>
</div>

<div id="add-modal" class="modal" style="display:none" data-user="starbuck" data-role="add-modal">
  <div class="modal-body">
    <div data-role="modal-content">
      <button id="add-modal-add-listing-from-web-button" data-toggle="modal" data-target="#add-listing-from-web-modal" data-role="add-listing-from-web">
        Add Listing From Web
      </button>
      <button id="add-modal-add-collection-button" data-toggle="modal" data-target="#collection-create-modal" data-role="add-collection">
        Add Collection
      </button>
    </div>
  </div>
</div>

<div id="add-listing-from-web-modal" class="modal" style="display:none">
  <div class="modal-body">
    <div data-role="modal-content">
      <p>Add listing from web modal</p>
    </div>
  </div>
</div>

<div id="collection-create-modal" class="modal" style="display:none">
  <div class="modal-body">
    <div data-role="modal-content">
      <p>Create collection modal</p>
    </div>
  </div>
</div>
