<div id="add-collection-card" data-user="starbuck" data-source="add-collection-card" data-role="add-collection-card">
  <button id="add-collection-card-button" data-toggle="modal" data-target="#collection-create-modal"
          data-role="add-collection-card-button">
    Create Collection
  </button>
</div>

<div id="collection-create-modal" style="display:none"></div>
