            <div class="input-append" data-role="name-input">
              <input type="text" placeholder="New collection" name="add_collection_input[]" data-role="collection-name">
              <a data-disable-with="Adding…" data-action="add-collection" href="javascript:void(0)">Add</a>
            </div>
