<div style="display:none" id="listing-want-1-modal" data-role="want-modal" class="want-modal modal remotemodal">
  <div class="modal-header">
    <a class="close-button pull-right" data-dismiss="modal"></a>
  </div>
  <div class="modal-body">
    <div data-role="modal-content">
      <form id="listing-want-1-form" method="post" data-primary="true" data-action="/listings/test/collections/a-new-collection/wants/1" data-remote="true">
        <div id="want_max_price_input" class="control-group">
        <div id="want_condition_input" class="control-group">
        <div id="want_notes_input" class="control-group">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" name="button" data-save="modal" class="btn primary large">Save</button>
      <a data-remote="true" data-action="want-skip" class="button pull-right" href="/listings/test/collections/a-new-collection/wants/complete">Skip</a>
    </div>
  </div>
</div>
