<div class="messages">
  <div data-role="alert-alert">
    <div class="alert" data-role="flash-alert">
  <div>
</div>
<button data-toggle="modal" data-target="#listing-feature-123-modal" data-role="feature-listing-123">
  Feature
</button>
<div id="listing-feature-123-modal" class="modal remotemodal" style="display:block;"
  data-url="/listings/hamburgler-doll/features/feature_modal" data-role="feature-manager"
  data-refresh="[data-role=feature-listing-123]">
  <div class="modal-header">
  <div class="modal-body">
    <div class="alert" data-role="alert" style="display:none"></div>
    <div data-role="modal-content">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn primary" type="button" data-save="modal">Save</button>
  </div>
</div>
