<div id="hot-or-not-modal" class="modal">
  <div class="modal-body">
    <div data-role="modal-content">
      <img alt="" src="//utahstreetlabs-dev-travis.s3.amazonaws.com/listing_photo/file/1457/medium_Screen_Shot_2013-03-11_at_9.35.00_PM.png">
      <a href="/listings/asdf-7/hot" data-action="listing-hot" data-method="put" data-remote="true">Hot</button>
      <a href="/listings/asdf-7/not" data-action="listing-not" data-method="put" data-remote="true">Not</button>
    </div>
  </div>
</div>
