<div id="listing-card-1">
  <div data-listing="123" data-source="listing-card">
    <button class="btn curatorial" data-action="love" data-method="put"
            data-target="/listings/test-bag/like" data-toggle="love" name="button" type="button">Love</button>
  </div>
</div>

<div id="listing-card-2">
  <div data-listing="123" data-source="listing-card">
    <button class="btn curatorial" data-action="love" data-method="put"
            data-target="/listings/test-bag/like" data-toggle="love" name="button" type="button">Love</button>
  </div>
</div>

<div id="listing-card-3">
  <div data-listing="456" data-source="listing-card">
    <button class="btn curatorial" data-action="love" data-method="put"
            data-target="/listings/wild-party/like" data-toggle="love" name="button" type="button">Love</button>
  </div>
</div>
