<%= bootstrap_modal :seller_info_cta, t('.header_html'), show_save: false,
                    show_close: false, custom_links: seller_info_cta_buttons(seller) do %>
  <p><%= t('.text') %></p>
<% end %>
