<div id="listing-modal-1">
  <span class="follow-wrap" data-followee="123" data-follower-count="[data-role=profile-followers-count]">
    <button class="social do-follow follow btn" data-action="follow" data-method="put"
            data-target="/profiles/peter-griffin/follow" data-toggle="user-follow" name="button" type="button">
      <span class="icons-button-follow"></span>
      Follow
    </button>
  </span>
</div>

<div id="listing-modal-2">
  <span class="follow-wrap" data-followee="123" data-follower-count="[data-role=profile-followers-count]">
    <button class="social do-follow follow btn" data-action="follow" data-method="put"
            data-target="/profiles/peter-griffin/follow" data-toggle="user-follow" name="button" type="button">
      <span class="icons-button-follow"></span>
      Follow
    </button>
  </span>
</div>

<div id="listing-modal-3">
  <span class="follow-wrap" data-followee="456" data-follower-count="[data-role=profile-followers-count]">
    <button class="social do-follow follow btn" data-action="follow" data-method="put"
            data-target="/profiles/stewie-griffin/follow" data-toggle="user-follow" name="button" type="button">
      <span class="icons-button-follow"></span>
      Follow
    </button>
  </span>
</div>

<div id="followers-count">
  Followers:
  <span data-role="profile-followers-count">0</span>
</div>
