<div id="ajax-overlay" style="display: none;" class="overlay">
  <div class="content-wrap"></div>
  <%= link_to 'Close', '#', :class => "button close-button" %>
  <%# XXX Need another link to close at the top right corner XXX%>
  <div class="overlay-close"><a class="close-button"><%= image_tag "icons/close-content-hover.png" %></a></div>
</div>
<div id="ajax-form-overlay" style="display: none;" class="overlay">
  <div class="content-wrap"></div>
</div>

