<%= content_tag(:h1, t('.section_title'), class: 'section-title') %>

<div id="listings">
  <% if @cards %>
    <div class="search-results-container">
      <% if @cards.any? %>
        <%= content_tag :ul, { class: 'search-results row' }.merge(results_tag_params) do %>
          <%= safe_join(feed_cards(@cards)) %>
        <% end %>
        <%= infinite_scroll_widgets %>
      <% end %>
    </div>
  <% end %>
</div>
