<form action="/foo" method="post">
  <input id="slug" name="message[slug]" type="hidden">
  <div class="control-group" id="query_input">
    <label class="control-label" for="query">User</label>
    <div class="controls">
      <div class="input-append">
        <input autocomplete="off" id="query" name="message[query]" type="text">
        <button class="btn btn-primary" name="button" type="submit">Send</button>
      </div>
    </div>
  </div>
</form>
