<form>
  <label for="listing_price">Price</label>
  <input id="listing_price" type="text" value="10.00">
  <label for="listing_shipping">Shipping</label>
  <input id="listing_shipping" type="text" value="1.00">
  <label for="listing_seller_pays_marketplace_fee">
    <input id="listing_seller_pays_marketplace_fee" type="checkbox" value="true" checked="checked">
    Seller pays marketplace fee?
  </label>
</form>

<div id="buyer-price-details" data-fee-rate="0.06" data-hide-shipping="true">
</div>
