                </div>
              </td>
            </tr><!--  CONTENT AREA  -->
            <tr>
              <td width="580" style="width: 580px; padding: 15px 25px 15px 25px; background-color: #F5F5F5;">
                <div class="footer-text" style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 12px; line-height: 18px; font-weight: 300; color: #6F6F6E; display: block; text-align: left;">
                  <span style="color: #1D1D1B; font-size: 12px; line-height: 18px; font-weight: 600; margin-bottom: 0px;">Copious</span><span style="color: #1D1D1B; margin-bottom: 0px; font-size: 12px; line-height: 18px;"> | 164 Townsend St #6, San Francisco, CA 94107</span> <br>
                  To ensure delivery to your inbox, add <span style="color: #6F6F6E !important; font-size: 12px; line-height: 18px; font-weight: 400; text-decoration: none !important;"><%= Brooklyn::Application.config.email.from.noreply %></span> to your address book. <br>
                  Change your email<%= mailer_link_to 'settings', settings_email_url, style: 'font-weight: 400; color: #7A9DD2; text-decoration: none; font-size: 12px; line-height: 18px;' %>.
                </div>
              </td>
            </tr><!--  FOOTER AREA  -->
          </table>
        </td>
      </tr>
    </table><!--  BACKGROUND TABLE  -->
  </body>
</html>