<form>
  <div id="selector">
    <div data-role="selectable">
      <input id="checkbox1" type="checkbox">
    </div>
    <div data-role="selectable">
      <input id="checkbox2" type="checkbox">
    </div>
  </div>
  <input id="select-all" type="checkbox">
</form>
