<%
body_class('server-error-page')
hide_masthead
hide_footer
%>

<div id="error-message">
  <h3>Oops. Something is wrong. Don't worry, we are going to fix it right away.<br>Please try again later!</h3>
  <div id="error-message-bg"></div>
</div>