<section class="margin-bottom">
  <button class="primary margin-right-half xsmall">Mini</button>
  <button class="xsmall">Mini</button>
</section>

<section class="margin-bottom">
  <button class="primary margin-right-half small">Small</button>
  <button class="small">Small</button>
</section>

<section class="margin-bottom">
  <button class="primary margin-right-half">Primary</button>
  <button>Regular</button>
</section>

<section class="margin-bottom">
  <button class="primary large margin-right-half">Large Primary</button>
  <button class="large margin-right">Large Button</button>
</section>

<section class="margin-bottom">
  <button class="primary xlarge margin-right-half">XLarge Primary</button>
  <button class="xlarge margin-right">XLarge Regular</button>
</section>

<section class="margin-bottom">
  <button class="primary margin-right-half xsmall">Love</button>
  <button class="xsmall">Love</button>
</section>

<section class="margin-bottom">
  <button class="primary margin-right-half small">
    Love
  </button>
  <button class="small">
    Love
  </button>
</section>

<section class="margin-bottom">
  <button class="primary margin-right-half">
    <i class="icon-love"></i>
    Love
  </button>
  <button>
    <i class="icon-love"></i>
    Love
  </button>
</section>

<section class="margin-bottom">
  <button class="primary large margin-right-half">
    <i class="icon-love"></i>
    Love
  </button>
  <button class="large margin-right">
    <i class="icon-love"></i>
    Love
  </button>
</section>

<section class="margin-bottom">
  <button class="primary xlarge margin-right-half">
    <i class="icon-love"></i>
    Love
  </button>
  <button class="xlarge margin-right">
    <i class="icon-love"></i>
    Love
  </button>
</section>

<div style="display: none;">
  <h1>H1. This is H1 Text</h1>
  <h2>h2. This is h2 Text</h2>
  <h3>H3. This is H3 Text</h3>
  <h4>H4. This is H4 Text</h4>
  <h5>H5. This is H5 Text</h5>
  <h6>H6. This is H6 Text</h6><br/>
  <span>This is Base type</span><br/>
  <a><span>This is a link</span></a><br/>
  <a class="external-link"><span>This is external link</span></a><br/>
  <a class="cancel-purchase">This is Cancel Purchase link</a>
  <div class="helper-copy">This is helper copy for h3</div><br/><br/>

  <button class="button new-button">Primary Button</button>
  <button class="button new-button">Regular</button>
</div>