<div id="main-content" class="buyers">
  <div class="full-wrapper">
    <div class="middle-container">
      <div class="top-navigation">
        <h1 class="page-title" style="margin-bottom: 16px;">This Week in Amazing Deals</h1>
        <div class="take-action">
          <h3>
            Holiday shopping doesn't need to be stressful. Copious has amazing finds at great prices from real people just like you.
          </h3>
          <%= link_to_facebook_connect %>
        </div>
      </div>
      <div class="slides-wrapper">
        <div id="slides" class="slides">
          <div class="slides_container">
            <%#     Slide 1     %>
            <div class="product-slide">
              <div class="price">$20.00</div>
              <a href="/listings/12-95-free-shipping-vintage-chain-pendant-necklace">
                <img src="/assets/landing/email-holiday/vintage_pendant_necklace.jpg" class="product-slide-photo">
              </a>
            </div>
          </div>
        </div>
        <div class="lister">
          <a href="/profiles/hausaimah-neves" class="profile">
            <img class="seller-thumbnail" width="50" height="50" title="Fiona Sprinkle" src="/assets/landing/email-holiday/profile-neves.jpg" alt="Hausaimah Neves">
          </a>
          <a href="/listings/12-95-free-shipping-vintage-chain-pendant-necklace">
            <h3>Vintage Chain Pendant Necklace</h3>
          </a>
        </div>
      </div>

      <div class="product-card-section-container">
        <ul class="product-card-section">
          <li>
            <a href="/listings/vintage-strawberry-drinking-glasses-three-3-free-shipping">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/vintage_strawberry_cup.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$20.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/remod-zoya" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="ReMod Zoya" src="/assets/landing/email-holiday/profile-remod.jpg" alt="ReMod Zoya">
              </a>
              <a href="/listings/vintage-strawberry-drinking-glasses-three-3-free-shipping">
                <h3>Vintage Strawberry Drinking Glasses</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/15-95-free-shipping-beautiful-set-rhinestone-brooch">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/rhinestone_brooch.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$15.95</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/hausaimah-neves" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Hausaimah Neves" src="/assets/landing/email-holiday/profile-neves.jpg" alt="Hausaimah Neves">
              </a>
              <a href="/listings/15-95-free-shipping-beautiful-set-rhinestone-brooch">
                <h3>Rhinestone Brooch Set</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/brown-bag">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/brown_bag.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$7.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/queenie-li" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Queenie Li" src="/assets/landing/email-holiday/profile-queenie.jpg" alt="Queenie Li">
              </a>
              <a href="/listings/brown-bag">
                <h3>Brown Bag</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/flowy-skirt-with-3-different-colors-can-be-casual-but-still-professional">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/skirt.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$7.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/eugenia-pineda" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Eugenia Pineda" src="/assets/landing/email-holiday/profile-eugenia.jpg" alt="Eugenia Pineda">
              </a>
              <a href="/listings/flowy-skirt-with-3-different-colors-can-be-casual-but-still-professional">
                <h3>Skirt</h3>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="product-card-section-container wide">
        <ul class="product-card-section wide">
          <li>
            <a href="/listings/assorted-notelettes-1">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/assorted_notelettes.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$10.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/sydney-ann" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Sydney Ann" src="/assets/landing/email-holiday/profile-sydney.jpg" alt="Sydney Ann">
              </a>
              <a href="/listings/assorted-notelettes-1">
                <h3>Assorted Notelettes</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/vintage-handmade-christmas-sequin-ornament-ball-pink-green-silver-free-shipping">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/vintage_ornaments.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$18.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/remod-zoya" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Remod Zoya" src="/assets/landing/email-holiday/profile-remod.jpg" alt="Remod Zoya">
              </a>
              <a href="/listings/vintage-studded-patent-leather-handbag">
                <h3>Vintage Ornaments</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/slade-wilder-mens-red-plaid-flannel-shirt-l-29-new">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/flannel_shirt.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$20.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/ajm-fashions" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="AJM Fashions" src="/assets/landing/email-holiday/profile-ajm.jpg" alt="AJM Fashions">
              </a>
              <a href="/listings/slade-wilder-mens-red-plaid-flannel-shirt-l-29-new">
                <h3>Slade Wilder Men's Red Flannel Shirt</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/vintage-square-pearlized-brown-tan-and-silver-earrings-free-shipping">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/vintage_cufflinks.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$18.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/remod-zoya" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="ReMod Zoya" src="/assets/landing/email-holiday/profile-remod.jpg" alt="ReMod Zoya">
              </a>
              <a href="/listings/vintage-square-pearlized-brown-tan-and-silver-earrings-free-shipping">
                <h3>Vintage Cufflinks</h3>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="take-action">
        <h3>
          Make room for your new gifts and give your rarely used items a new home for the new year.
        </h3>
        <%= link_to 'Create a Listing', listings_path, id: "sell_button", class: "button primary", method: :POST %>
      </div>
    </div>
  </div>
</div>
