<div id="main-content" class="buyers">
  <div class="full-wrapper">
    <div class="middle-container">
      <div class="top-navigation">
        <h1 class="page-title" style="margin-bottom: 16px;">This Week in Amazing Deals</h1>
        <div class="take-action">
          <h3>
            Holiday shopping doesn't need to be stressful. Copious has amazing finds at great prices from real people just like you.
          </h3>
          <%= link_to_facebook_connect %>
        </div>
      </div>
      <div class="slides-wrapper">
        <div id="slides" class="slides">
          <div class="slides_container">
            <%#     Slide 1     %>
            <div class="product-slide">
              <div class="price">50% Off</div>
              <a href="/listings/juicy-couture-womens-skylar-black-twill-military-jacket-s-298-new">
                <img src="/assets/landing/email-holiday/1210/jc-jacket.jpg" class="product-slide-photo">
              </a>
            </div>
          </div>
        </div>
        <div class="lister">
          <a href="/profiles/ajm-fashions" class="profile">
            <img class="seller-thumbnail" width="35" height="35" title="AJM Fashions" src="/assets/landing/email-holiday/profile-ajm.jpg" alt="AJM Fashions">
          </a>
          <a href="/listings/juicy-couture-womens-skylar-black-twill-military-jacket-s-298-new">
            <h3>Juicy Couture Jacket</h3>
          </a>
        </div>
      </div>

      <div class="product-card-section-container">
        <ul class="product-card-section">
          <li>
            <a href="/listings/boss-hugo-boss-mens-anversa-blue-stripe-zip-shirt-xl-115-new">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/hb-shirt.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">40% Off</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/ajm-fashions" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="AJM Fashions" src="/assets/landing/email-holiday/profile-ajm.jpg" alt="AJM Fashions">
              </a>
              <a href="/listings/boss-hugo-boss-mens-anversa-blue-stripe-zip-shirt-xl-115-new">
                <h3>HUGO BOSS shirt (men')</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/we-the-free-womens-charcoal-red-striped-floral-slub-l-s-top-l-58-new">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/wtfw-shirt.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">40% Off</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/ajm-fashions" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="AJM Fashions" src="/assets/landing/email-holiday/profile-ajm.jpg" alt="AJM Fashions">
              </a>
              <a href="/listings/we-the-free-womens-charcoal-red-striped-floral-slub-l-s-top-l-58-new">
                <h3>We The Free top</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/marc-marc-jacobs-womens-amber-orange-heels-9-5-295-new">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/mj-heel.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">40% Off</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/ajm-fashions" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="AJM Fashions" src="/assets/landing/email-holiday/profile-ajm.jpg" alt="AJM Fashions">
              </a>
              <a href="/listings/marc-marc-jacobs-womens-amber-orange-heels-9-5-295-new">
                <h3>Marc Jacobs heels</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/boss-hugo-boss-black-button-down-long-sleeve-wool-lined-blazer-jacket-sz-10">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/hb-blazer.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$59.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/linda-s-stuff" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Linda's Stuff" src="/assets/landing/email-holiday/1210/profile-linda.jpg" alt="Linda's Stuff">
              </a>
              <a href="/listings/boss-hugo-boss-black-button-down-long-sleeve-wool-lined-blazer-jacket-sz-10">
                <h3>HUGO BOSS Wool Blazer (women's)</h3>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="product-card-section-container wide">
        <ul class="product-card-section wide">
          <li>
            <a href="/listings/ugg-jimmy-choo-starlit-brown-authentic-sz-5-9">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/ugg.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">50% Off</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/kathy-morales" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Kathy Morales" src="/assets/landing/email-holiday/1210/profile-kathy.jpg" alt="Kathy Morales">
              </a>
              <a href="/listings/ugg-jimmy-choo-starlit-brown-authentic-sz-5-9">
                <h3>UGG Jimmy Choo</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/vintage-gucci-cat-eye-black-sunglasses">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/gucci.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">$40.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/freda-gore" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="Freda Gore" src="/assets/landing/email-holiday/1210/profile-freda.jpg" alt="Freda Gore">
              </a>
              <a href="/listings/vintage-gucci-cat-eye-black-sunglasses">
                <h3>Vintage Gucci Glasses</h3>
              </a>
            </div>
          </li>
          <li>
            <a href="/listings/rock-revival-womens-amy-skinny-black-weathered-jeweled-jeans-25-168-new">
              <div class="product-cardBig">
                <div class="lead">
                  <img src="/assets/landing/email-holiday/1210/rr.jpg">
                  <div class="hover-data">
                    <div class="clickable">
                      <div class="price">50% Off</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="lister">
              <a href="/profiles/ajm-fashions" class="profile">
                <img class="seller-thumbnail" width="35" height="35" title="AJM Fashions" src="/assets/landing/email-holiday/profile-ajm.jpg" alt="AJM Fashions">
              </a>
              <a href="/listings/rock-revival-womens-amy-skinny-black-weathered-jeweled-jeans-25-168-new">
                <h3>Rock Revival Jeans</h3>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="take-action">
        <h3>
          Make room for your new gifts and give your rarely used items a new home for the new year.
        </h3>
        <%= link_to 'Create a Listing', listings_path, id: "sell_button", class: "button primary", method: :POST %>
      </div>
    </div>
  </div>
</div>
