<%
hide_masthead
%>
<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="menu-global">
        <h2><a href="/">Copious</a></h2>
        <ul class="menu-account">
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to 'Log In', login_path %></li>
        </ul>
      </div><!-- .menu-global -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .masthead -->
    <div id="main-content" class="buyers">
      <div class="full-wrapper">
        <div class="middle-container">
          <div class="top-navigation">
            <h1 class="page-title">Welcome to Copious</h1>
            <h2>Buy and sell Vintage Clothing.</h2>
            <div class="follow-search-results">
              <a class="button follow-search" href="/for-sale/clothing">See All Vintage Clothing</a>
              <div class="point-arrow-border"></div>
              <div class="point-arrow"></div>
            </div>
          </div>
          <div class="slides-wrapper">
            <div id="slides" class="slides">
              <div class="slides_container">
                <%#     Slide 1     %>
                <div class="product-slide">
                  <div class="price">$54.00</div>
                  <a href="/listings/vintage-bombshell-red-fitted-dress">
                    <img src="/assets/landing/buyer/red-dress.jpg" class="product-slide-photo">
                  </a>
                </div>
              </div>
            </div>
            <div class="lister">
              <a href="/profiles/alice-pino-marina" class="profile">
                <img class="seller-thumbnail" width="50" height="50" title="Alice Pino Marina" src="/assets/landing/buyer/profile-alice.jpg" alt="Alice Pino Marina">
              </a>
              <a href="/listings/vintage-bombshell-red-fitted-dress">
                <h3>Bombshell Red Fitted Dress</h3>
              </a>
            </div>
          </div>

          <div class="product-card-section-container">
            <ul class="product-card-section">
              <li>
                <a href="/listings/vintage-70s-black-with-white-geometric-print-paganne-dress-m">
                  <div class="product-cardBig">
                    <div class="lead">
                      <img src="/assets/landing/buyer/b-w_dress.jpg">
                      <div class="hover-data">
                        <div class="clickable">
                          <div class="price">$88.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="lister">
                  <a href="/profiles/heidi-hodge" class="profile">
                    <img class="seller-thumbnail" width="35" height="35" title="Heidi Hodge" src="/assets/landing/buyer/profile-heidi.jpg" alt="Heidi Hodge">
                  </a>
                  <a href="/listings/vintage-70s-black-with-white-geometric-print-paganne-dress-m">
                    <h3>Paganne Dress with Geometric Print</h3>
                  </a>
                </div>
              </li>
              <li>
                <a href="/listings/vintage-70s-wool-skirt-1">
                  <div class="product-cardBig">
                    <div class="lead">
                      <img src="/assets/landing/buyer/70sWoolSkirt.jpg">
                      <div class="hover-data">
                        <div class="clickable">
                          <div class="price">$28.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="lister">
                  <a href="/profiles/alice-pino-marina" class="profile">
                    <img class="seller-thumbnail" width="35" height="35" title="Alice Pino Marina" src="/assets/landing/buyer/profile-alice.jpg" alt="Alice Pino Marina">
                  </a>
                  <a href="/listings/vintage-70s-wool-skirt-1">
                    <h3>Vintage 70s Wool Skirt</h3>
                  </a>
                </div>
              </li>
              <li>
                <a href="/listings/vintage-mens-m-julian-adventures-tan-cream-fringe-leather-coat">
                  <div class="product-cardBig">
                    <div class="lead">
                      <img src="/assets/landing/buyer/large_leather_jacket_8.jpg">
                      <div class="hover-data">
                        <div class="clickable">
                          <div class="price">$325.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="lister">
                  <a href="/profiles/kristan-edwards" class="profile">
                    <img class="seller-thumbnail" width="35" height="35" title="Kristan Edwards" src="/assets/landing/buyer/profile-kristan.jpg" alt="Kristan Edwards">
                  </a>
                  <a href="/listings/vintage-mens-m-julian-adventures-tan-cream-fringe-leather-coat">
                    <h3>Julian Adventures Tan Cream Leather Coat</h3>
                  </a>
                </div>
              </li>
              <li>
                <a href="/listings/1950s-taupe-faux-fur-swing-opera-coat">
                  <div class="product-cardBig">
                    <div class="lead">
                      <img src="/assets/landing/buyer/fauxFur.jpg">
                      <div class="hover-data">
                        <div class="clickable">
                          <div class="price">$62.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="lister">
                  <a href="/profiles/terri-edema" class="profile">
                    <img class="seller-thumbnail" width="35" height="35" title="Terri Edema" src="/assets/landing/buyer/profile-terri.jpg" alt="Terri Edema">
                  </a>
                  <a href="/listings/1950s-taupe-faux-fur-swing-opera-coat">
                    <h3>Taupe Faux Fur Swing Opera Coat</h3>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="full-wrapper2">
        <div class="middle-container">
          <div class="join-now-cta-container">
            <h3 class="cta join-now">Sign up and get <span class="dollar-sign">$</span><span class="strong">5</span> off your first purchase.</h3>
            <div class="connect-container">
              <%= link_to_facebook_connect %><BR>
              <span class="left-line">&mdash;&mdash;&mdash;&mdash;</span>
              <a href="<%= auth_path(:twitter, buyer_signup: true) %>" class="twitter signup">or Connect with Twitter</a>
              <span class="right-line">&mdash;&mdash;&mdash;&mdash;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
