<form action="/signup/buyer/profile" method="post" data-role="new-profile-form">
  <fieldset>
    <input maxlength="255" name="user[email]" size="255" type="text" value="hambotron@example.com" class="required email">
    <input maxlength="64" name="user[password]" size="64" type="password" class="required password">
    <button type="submit">Create Your Profile</button>
  </fieldset>
</form>
