<div id="new-profile-modal">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <div class="alert" data-role="alert" style="display:none">
    </div>
    <div data-role="modal-content">
    </div>
  </div>
  <div class="modal-footer">
    <button data-save="modal" name="button" type="button">Create Your Profile</button>
  </div>
</div>
