<button id="fb-connect" type="button" data-action="auth-facebook" class="btn">Connect to Facebook</button>

<form action="javascript:void(0)">
  <input id="login_facebook_token" name="login[facebook_token]" value="" type="hidden">
  <input id="login_facebook_signed" name="login[facebook_signed]" value="" type="hidden">
  <button id="copious-login" type="submit" data-action="auth-update" class="btn">Log in to Copious</button>
</form>
