<div class="modal" data-backdrop="static" data-keyboard="false" id="logging_in-modal" style="display:none">
  <div class="modal-body">
    <div class="alert" style="display:none"></div>
    <div data-role="modal-content">
      <p>
        You are being logged in&hellip;
        <span class="spinner" style="display:none">(spinner)</span>
      </p>
    </div>
  </div>
</div>

<div class="modal" data-backdrop="static" data-keyboard="false" id="signup-modal" style="display:none">
  <div class="modal-body">
    <div class="alert" style="display:none"></div>
    <div data-role="modal-content">
      <p>
        <button>Sign up!</button>
      </p>
    </div>
  </div>
</div>

<p><a href="#page2">Navigate to another page</a></p>

<p><button data-protected="true">Perform a protected action</button></p>
