<div data-role="notification" data-notifications-v2="1">
  <div data-target="http://copious.com/profiles/test/collections/awesome">
    <div data-role="notification-actor-image">
    <div data-role="notification-body">You saved your listing Pear Hedgehog to collection Things That Are Awesome.</div>
    <div data-role="notification-target-image">
  </div>
</div>
